@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(#3591ce, #3591ce 50%, #fff 50%, #fff 100%); */
  background: linear-gradient(#003355, #003355 50%, #FFF8F3 50%, #FFF8F3 100%);
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  background: #000;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.220);
  display: flex;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

.card:hover {
  width: 600px;
}

.card .imgBx {
  position: relative;
  min-width: 300px;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

.card .imgBx img {
    border-radius: 50%;
  max-width: 250px;
  transition: 0.5s ease-in-out;
}

.card:hover .imgBx img {
  transform: rotate(-35deg) translate(-20px);
}

.card .details {
  position: absolute;
  left: 0;
  min-width: 300px;
  height: 100%;
  background: #003355;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
  flex-direction: column;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.card:hover .details {
  left: 300px;
}

.card .details::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}

.card .details h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
}

.card .details h3 span {
  font-size: 0.65em;
  font-weight: 300;
  text-transform: none;
  opacity: 0.85;
}

.card .details h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-weight: 0.9em;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1em;
} 

.card .details p {
  color: #fff;
  opacity: 0.35;
  font-size: 0.8em;
}

.card .details .size {
  display: flex;
  gap: 10px;
}

.card .details .size li {
  list-style: none;
  color: #fff;
  font-size: 0.9em;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  opacity: 0.65;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s;
}

.card .details .size li:hover {
  color: #003355;
  background: #fff;
  opacity: 1;
}

.card .details .group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card .details .group h2 {
  color: #fff;
  font-weight: 600;
  font-size: 2em;
}

.card .details .group h2 sup {
  font-weight: 300;
}

.card .details .group h2 small {
  font-size: 0.75em;
}

.card .details .group a {
  display: inline-flex;
  padding: 10px 25px;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 8px;
  color: #003355;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.288);
  transition: 0.3s;
}

.card .details .group a:hover {
  background: #095ea3;
  color: #fff;
}

.tag {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: rgba(151, 150, 150, 0.781);
  font-size: 10px;
}